/* MAIN SIDEBAR */

.main-sidebar {
  display: table-cell;
  width: 260px;
  background-color: #f1f1f5;
  padding: 25px 0 15px 0;
  box-sizing: border-box;
}

.main-sidebar__header {
  font-size: 26px;
  font-family: $font-robotolight;
  line-height: 26px;
  font-weight: normal;
  color: #2e3641;
  margin: 0 0 35px 0;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;  
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* settings list */

.settings__list {
  list-style: none;
  margin: 0 0 58px 0;
  padding: 0;
}

.settings__item {
  position: relative;
  padding: 0 20px 10px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f4c3c2;
  
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f1f1f5;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    width: 0;
    border: 10px solid transparent;
    border-top-color: #f4c3c2;
  }

}

/* upload image */

.upload-image__label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.upload-image__header {
  font-family: $font-robotolight;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 7px 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-image__file {
  position: relative;
  overflow: hidden;   
  margin-bottom: 7px;   
}

.upload-image__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.upload-image__fake-input {
  width: 100%;
  height: 27px;
  font-family: $font-segoeuilight;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  padding: 4px 45px 4px 4px;
  border: 1px solid #9eb2c0;
  background-color: #F1F1F5;
  @include border-radius(3px);  

  @include placeholder {
      color: #9eb2c0;
  }    
}

.upload-image__file-icon {
  width: 40px;
  height: 27px;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #f97e76;
  background-color: #f97e76;
  @include border-radius(0px 3px 3px 0px);
  @include transition-property(background);
  @include transition-duration(100ms);
  @include transition-timing-function(ease-out);      

  &:hover {
    background-color: darken(#f97e76, 10%);
  }
}

.upload-image__file-icon:after {
  display: block;
  content: "";
  width: 21px;
  height: 16px;
  position: absolute;
  left: 9px;
  top: 5px; 
  background: url('../i/sprite.png') no-repeat -51px -5px;
}

/* upload watermark */

.upload-watermark__label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.upload-watermark__header {
  font-family: $font-robotolight;  
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 7px 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.upload-watermark__file {
  position: relative;
  overflow: hidden; 
  @include border-radius(0px 3px 3px 0px );             
}

.upload-watermark__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.upload-watermark__fake-input {
  width: 100%;
  height: 27px;
  font-family: $font-segoeuilight;
  font-size: 12px;
  color: #333;  
  box-sizing: border-box;
  padding: 4px 45px 4px 4px;
  border: 1px solid #9eb2c0;
  background-color: #F1F1F5;
  @include border-radius(3px);

  @include placeholder {
      color: #9eb2c0;
  }  
}

.upload-watermark__file-icon {
  width: 40px;
  height: 27px;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #f97e76;
  background-color: #f97e76;
  @include border-radius(0px 3px 3px 0px );  
  @include transition-property(background);
  @include transition-duration(100ms);
  @include transition-timing-function(ease-out);      

  &:hover {
    background-color: darken(#f97e76, 10%);
  }  
}

.upload-watermark__file-icon:after {
  display: block;
  content: "";
  width: 21px;
  height: 16px;
  position: absolute;
  left: 9px;
  top: 5px; 
  background: url('../i/sprite.png') no-repeat -51px -5px;
}

/* position */

.position__wrapper {
  padding-top: 28px;
  margin-bottom: 25px;
}

.position__header {
  font-family: $font-robotolight;  
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 7px 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settings__position {
  position: relative;
}

/* swith mode */

.switch-mode {
  position: absolute;
  top: 0;
  right: 0;
}

.switch-mode__list {
  list-style: none;
  margin: 0;
  padding: 0 11px 0 0;
  text-align: right;
}

.switch-mode__item {
  display: inline-block;
  margin-left: 6px;

  &:first-child {
    margin-left: 0;
  }
}

.switch-mode__link {
  display: block;
  position: relative;
  height: 19px;
  width: 19px; 

  & span {
    display: none;
  } 

  &:after {
    display: block;
    content: "";
    height: 19px;
    width: 19px;
    position: absolute;
    background-image: url('i/sprite-tiling.png');
    background-repeat: no-repeat;
  }
}

.switch-mode__item.single-mode .switch-mode__link:after {
  background-position: -44px -5px;
}

.switch-mode__item.tiling-mode .switch-mode__link:after{
  background-position: -34px -34px;
}

.switch-mode__item.single-mode.active .switch-mode__link:after,
.switch-mode__item.single-mode .switch-mode__link:hover:after {
  background-position: -5px -34px;
}

.switch-mode__item.tiling-mode.active .switch-mode__link:after,
.switch-mode__item.tiling-mode .switch-mode__link:hover:after {
  background-position: -73px -5px;
}



/* position blocks */

.position-blocks {
  width: 50%;
  float: left;
  position: relative;      
}

.position-blocks__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 101px;
  height: 101px;
  @include border-radius(4px); 
  border: 1px solid #9eb2c0;
  box-sizing: border-box;
  overflow: hidden;  
}

.position-blocks__item {

}

.position-blocks__link {
  float: left;
  width: 34px;
  height: 34px;
  background-color: #dbe1e8;
  border-left: 1px solid #9eb2c0;
  border-top: 1px solid #9eb2c0;
  box-sizing: border-box;
  margin: -1px 0 0 -1px;
  @include transition-property(background);
  @include transition-duration(100ms);
  @include transition-timing-function(ease-out);   

  &:hover {
    background-color: #f97e76;            
  }           
}

/* tiling */

.watermark__tiling {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 99px;
  width: 99px;
  margin-top: 1px;
  margin-left: 1px;
  z-index: 100;
  overflow: hidden;
  @include border-radius(4px);   
}

.watermark__vertical-margin {
  display: block;
  position: absolute;
  width: 0px;
  height: 100px;
  background-color: #f97e76;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.watermark__horizontal-margin {
  display: block;
  position: absolute;  
  width: 100px;
  height: 0px;
  background-color: #f97e76;
  top: 50%;
  margin-top: -1px;
  left: 0;  
}

.position-coords__vertical-margin,
.position-coords__horizontal-margin {
  display: none;
  background-image: url('i/sprite-tiling.png');
  position: absolute;
}

.position-coords__vertical-margin {
  right: 72px;
  top: 9px;
  width: 11px;
  height: 30px;
  background-position: -63px -34px;
}

.position-coords__horizontal-margin {
    right: 72px;
    top: 18px;  
    width: 29px;
    height: 9px;
    background-position: -5px -5px;
}


.tiling-mode {

  .watermark__tiling {
    display: block;
  }

  .position-coords__vertical-margin,
  .position-coords__horizontal-margin {
    display: inline-block;
  }

  .position-coords__title {
    display: none;    
  }

}

/* position coords */

.position-coords {
  width: 50%;
  float: left;
}

.position-coords__title {
  margin-right: 3px;
}

.position-coords__label {
  text-align: right;
  position: relative;
  padding-right: 22px;

  &:first-child {
    margin-bottom: 12px;
  }

}

.position-coords__input {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  font-size: 22px;
  font-family: $font-segoeuilight;
  line-height: 30px;
  padding: 9px 3px 10px 3px;
  text-align: center;
  background-color: #f1f1f5;
  border: 1px solid #9eb2c0;
  @include border-radius(4px);  
}

.ui-spinner {

}


.ui-spinner-button {
  display: block;
  position: absolute;
  width: 22px;
  height: 20px;
  right: 0;

  &:after {
    display: block;
    position: absolute;
    content: "";
    width: 13px;
    height: 8px;
    right: 2px;
    background-image: url('../i/sprite.png'); 
    background-repeat: no-repeat;
  }

  &:hover {
    cursor: pointer;
  }

  .ui-button-text {
    display: none;
  }
}

.ui-spinner-button.ui-spinner-up {
  top: 0;

  &:after {
    top: 3px;
    background-position: -5px -23px;
  }   

  &:hover:after {
    background-position: -28px -23px;
  }
}

.ui-spinner-button.ui-spinner-down {
  bottom: 0;   

  &:after {
    bottom: 2px;  
    background-position: -5px -5px;
  }

  &:hover:after {
    background-position: -28px -5px;
  }

}


/* slider */

.opacity__header {
  font-family: $font-robotolight;  
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 7px 0;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;    
}

.opacity__container {
  padding-top: 20px;
  height: 24px;
}

.opacity__slider {
  clear: both;
}

.ui-slider-horizontal {
  position: relative;
  height: 3px;
  background-color: #dbe1e8;

  .ui-slider-range {
    height: 3px;
    background-color: #9eb2c0;
  }
}

.ui-slider-handle {
  position: absolute;
  width: 8px;
  height: 8px;  
  top: -10px;
  margin-left: -12px;
  z-index: 2;
  background-color: #9eb2c0;
  @include border-radius(100%);  
  border: 7px solid #dbe1e8;
  @include box-shadow(0px 1px 1px 1px #ccc);
  outline: none;
  @include transition-property(background);
  @include transition-duration(100ms);
  @include transition-timing-function(ease-out);    

  &:hover,
  &.ui-state-active {
    cursor: pointer;
    background-color: #f97e76;
    @include box-shadow(0px 1px 2px 1px #ccc);
  } 
}



/* buttons */

.settings__buttons {
  padding: 0 10px 0 10px;  
}

.settings__btn {
  font-size: 18px;
  width: auto;
  min-width: 100px;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border: 0;
  margin-bottom: 10px;
  padding: 9px 10px 9px 10px;
  font-weight: bold;
  @include border-radius(3px);
  @include transition-property(background);
  @include transition-duration(100ms);
  @include transition-timing-function(ease-out);    
}

.settings__btn_reset {
  float: left;
  background-color: #c1cfd9;

  &:hover {
    background-color: darken(#c1cfd9, 10%);
  }
}

.settings__btn_download {
  float: right;    
  background-color: #f97e76;

  &:hover {
    background-color: darken(#f97e76, 10%);
  }
}