// Sidebar
aside.main-sidebar
  h2.main-sidebar__header Настройки
  form.setting__form
    // Settings
    ul.settings__list
      // Upload Image and Watermark
      li.settings__item.settings__upload
        label.upload-image__label
          h3.upload-image__header Исходное изображение
          .upload-image__file
            input#fileupload_background.upload-image__input(type="file", name="backgroungImage", accept="image/*", onchange="getBgFile(this);")
            input.upload-image__fake-input(type="text", name="", placeholder="Выберите изображение", disabled)
            .upload-image__file-icon
        label.upload-watermark__label
          h3.upload-watermark__header Водяной знак
          .upload-watermark__file
            input#fileupload_watermark.upload-watermark__input(type="file" name="", onchange="getWatermarkFile(this);")
            input.upload-watermark__fake-input(type="text" name="" placeholder="Выберите изображение", disabled)
            .upload-watermark__file-icon
      // Set Position
      li.settings__item.settings__position
        h3.position__header Положение
        .position__wrapper.clearfix
          .position-blocks
            ul.position-blocks__list
              li.position-blocks__item
                a(href="#" data-position="top-left").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="top-center").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="top-right").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="middle-left").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="middle-center").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="middle-right").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="bottom-left").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="bottom-center").position-blocks__link
              li.position-blocks__item
                a(href="#" data-position="bottom-right").position-blocks__link
          .position-coords
            .position-coords__label
              span.position-coords__title X
              input#spinner_x.position-coords__input(type="text" name="" placeholder="0")
            .position-coords__label
              span.position-coords__title Y
              input#spinner_y.position-coords__input(type="text" name="" placeholder="0")
      // Set Opacity
      li.settings__item.settings__opacity
        h3.opacity__header Прозрачность
        .opacity__container
          input#opacity__input.opacity__input(type="hidden" name="opacity")
          #opacity__slider.opacity__slider
    // Buttons
    .settings__buttons.clearfix

      input#bgFile(type="text", name='bgFile', hidden)
      input#wmScale(type="text", name='wmScale', hidden)
      input#wmFile(type="text", name='wmFile', hidden)
      input.settings__btn.settings__btn_reset(type="reset" value="Сброс")
      input.settings__btn.settings__btn_download#download(type="submit", value="Скачать")
