/*
    NORMALIZE
*/
@import '../../bower_components/normalize-scss/normalize';

/*
    VARIABLES
*/
$browser-context: 16px;
$footer-height: 80px;

/*
    IMPORTS
*/

/*
    MIXINS
*/
@mixin inlineblock($valine: top) {
  display: inline-block;
  vertical-align: $valine;
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: block;
  }

  &:after {
    clear: both;
  }
}

@mixin absolute-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}


/*
    STYLES
*/
html,
body{
  height: 100%;
  width: 100%;

  //min-height: 480px;
  //min-width: 320px;
}

.bg{
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;

  a{
    text-decoration: none;
  }
}

.main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*
    includes
*/
@import '../blocks/canvas/canvas';
@import '../blocks/sidebar/sidebar';
@import '../blocks/footer/footer';
