/*
    NORMALIZE
*/
@import '../../bower_components/normalize-scss/normalize';

/*
    VARIABLES
*/
//$browser-context: 16px;
//$footer-height: 80px;


/*
    IMPORTS
*/

//noinspection CssUnknownTarget
@import "compass";

/*
    MIXINS
*/

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: block;
    }

    &:after {
        clear: both;
    }
}


/*
    STYLES
*/
html,
body{
    height: 100%;
    width: 100%;
}

body {
    font-family: robotolight;
    background: url("i/bg.png") repeat 0 0 #d6ba9d;    
    background-size: cover;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main {
    padding-top: 60px;
}


/*
    includes
*/
@import '../blocks/canvas/canvas';
@import '../blocks/sidebar/sidebar';
@import '../blocks/footer/footer';
