/*
    NORMALIZE
*/
@import '../../bower_components/normalize-scss/normalize';

/*
    VARIABLES
*/
//$browser-context: 16px;
//$footer-height: 80px;


/*
    IMPORTS
*/

//noinspection CssUnknownTarget
@import "compass";

/*
    MIXINS
*/

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: block;
    }

    &:after {
        clear: both;
    }
}


/*
    STYLES
*/

html {
    position: relative; 
    min-height: 100%;      
}

body {
    font-family: robotolight;
    margin-bottom: 61px;
    background: url("i/bg.jpg") no-repeat 0 0 #d6ba9d;    
    background-size: cover;    
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main {
    padding: 60px 0;
}

/* MAIN CONTENT */

.main-content {
    float: left;
    width: 700px;
    padding: 25px;
    box-sizing: border-box;
    background: url("i/bg_main-content.jpg") no-repeat 0 0 #6a6563;
    background-size: cover;   
}

.main-content__header {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 60px 0;
}

/* MAIN SIDEBAR */

.main-sidebar {
    float: left;
    width: 260px;
}

/*
    HELPERS
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*
    INCLUDES
*/
@import '../blocks/canvas/canvas';
@import '../blocks/sidebar/sidebar';
@import '../blocks/footer/footer';
