head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')

    // SEO
    title
      block title

    meta(name='description', content='Watermark generator')
    meta(name='keywords', content='watermark')

    // CSS
    link(rel='stylesheet', href='fonts/roboto_light/stylesheet.css')
    link(rel='stylesheet', href='fonts/roboto_medium/stylesheet.css')
    link(rel='stylesheet', href='fonts/segoe_ui_light/stylesheet.css')
    link(rel='stylesheet', href='custom.css')
    link(rel='shortcut icon', href='/i/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/i/favicon.ico', type='image/x-icon')