doctype html
head
    include head
body
  <!--[if lt IE 8]>
  <p class="chromeframe"> Вы используете устаревший браузер </p>
  <![endif]-->

// Page Wrapper
.wrapper
        // Main Content
        .main
            .container.clearfix
                .main-content
                    h1.main-content__header Генератор водяных знаков
                    include ../blocks/canvas/canvas
                include ../blocks/sidebar/sidebar
        include ../blocks/footer/footer
script(src='vendor.js')
script(src='custom.js')