doctype html
head
    include head
body.bg
  <!--[if lt IE 8]>
  <p class="chromeframe"> Вы используете устаревший браузер </p>
  <![endif]-->

  .main
    block content
    include ../blocks/footer/footer
  script(src='custom.js')