// Social Share
div.social-share
  ul.social-share__list
    li.social-share__item.fb
      a#language__rus.social-share__link Facebook
    li.social-share__item.tw
      a#language__eng.social-share__link Twitter
    li.social-share__item.vk
      a#language__eng.social-share__link Вконтакте
