.canvas__wrapper
    canvas#canvas.canvas
        img#canvas_img.canvas__image(src="http://placeimg.com/600/400/any")
        img#canvas_watermark.canvas__watermark(src="http://placeimg.com/200/200/any")