.canvas__wrapper
  #canvas.canvas
    img#canvas__img.canvas__image(src="http://placeimg.com/600/400/any")
    #canvas__watermark-container.canvas__watermark-container
      img#canvas__watermark.canvas__watermark(src="http://placeimg.com/200/200/any")