.footer {
	width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    height: 61px;
}

.footer__copyright {
	font-size: (12/16)*1em;
	padding: 1em 0;
	text-align: center;
}

