// Switch Languages
div.switch-languages
  ul.switch-languages__list
    li.switch-languages__item.rus
      a#language__rus.switch-languages__link(href="#") Rus
    li.switch-languages__item.eng
      a#language__eng.switch-languages__link(href="#") Eng     